Jinja2==2.7.2 # for rendering
Pillow==2.4.0
adblockparser==0.2
extraction==0.2
lxml==3.3.5
re2==0.2.20 # for adblockparser
requests==2.5.1
selenium==2.44.0
w3lib==1.6

mock==1.0.1
mockito==0.5.2
pytest==2.6.4