Jinja2==2.7.2 # for rendering
Pillow==8.2.0
adblockparser==0.2
git+https://github.com/svven/extraction.git@master#egg=extraction # extraction==0.2
lxml==3.3.5
# re2==0.2.20 # for adblockparser
requests==2.5.1
selenium==2.44.0 # for phantomjs
w3lib==1.6
urlnorm==1.1.2
urltools==0.3.2
mock==1.0.1
mockito==0.5.2
pytest==2.6.4
